@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-self: center;
}

.container {
  background-color: #fff;
  border-radius: 15px;
  width: 650px;
  height: 500px;
  display: flex;
  position: absolute;
  top: 25%;
  display: flex;
}

.image {
  height: 100%;
  border-radius: 15px 0 0 15px;
  background-position: cover;
  background-position: center;
}

.inner_container {
  display: grid;
  row-gap: 10px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 25px;
}

.above {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 6px;
  opacity: 50%;
  font-size: 14px;
}

.header {
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: hsl(212, 21%, 14%);
}

.description {
  font-family: "Montserrat", sans-serif;
  opacity: 70%;
  font-size: 16px;
  line-height: 1.6;
}

.add_to_cart {
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  height: 55px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border: 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_to_cart:hover {
  background-color: hsl(158, 36%, 30%);
  transition: 0.15s;
}

.prices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}

.sale-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 37px;
  font-weight: 700;
}

.price {
  text-decoration: line-through;
  opacity: 50%;
  font-size: 14px;
  justify-self: center;
}

.cart {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 300px;
    min-width: auto;
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }

  .image {
    min-width: 100%;
    height: 30%;
    border-radius: 15px 15px 0 0;
    background-size: auto;
  }
}
